<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629954928929-kf5itasl00bqmrhvu28qmhgtt2l5io8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629954928929-kf5itasl00bqmrhvu28qmhgtt2l5io8h</string>
	<key>API_KEY</key>
	<string>AIzaSyCQuVP7aHFitZDfvS4O38dGVR-m429jZEw</string>
	<key>GCM_SENDER_ID</key>
	<string>629954928929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masoudtoorani.InstaCloneFireBase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-577c5</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-577c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629954928929:ios:9c7b0867f77eb21c551e60</string>
</dict>
</plist>